.todo-container{
  background-color: rgb(252, 252, 252);
  min-width: 350px;
  min-height: 550px;
  border-radius: 2px;
  padding: 1rem;
}

.shown-list{
  font-weight: bold;
  padding:10px;
  display: flex;
  justify-content: space-between;
}
.checked{
  font-size: 1.1rem;
  color: rgb(70, 70, 70);
  padding:4px 30px;
  margin: 2px;
  width: 70%;
  text-align: left;
}
.checked:hover{
  cursor: pointer;
}
.finished{
  opacity: 0.4;
}
.check-complete{
  color: black;
  border: 2.5px solid rgb(60, 204, 96);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 2px;
  margin-right: 1rem;
  width: 30px;
  height: 33px;
  cursor: pointer;
}
.hide {
  visibility: hidden;
}
 .completed-true {
  visibility: visible;
  color: rgb(60, 204, 96);
}


@media screen and (max-width:480px) {
  .todo-container{
    margin-top: 1rem;
  }
}
