.header{
  color: black;
  display:flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding:4px 20px;
  position: relative;
  background-color: rgb(255, 255, 255);
}
 .start{
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.header h1{
  margin:5px 5px;
  font-size: 2.5rem;
  font-weight: bolder;
}
.inside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  line-height: 12px;
  font-size: 0.9rem;
}
 .inside span{
  margin-top:15px;
  margin-bottom: -10px;
}
 .end{
  margin-top:25px ;
  font-weight: bold;
}