@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
  font-family: 'Russo One', sans-serif;
  margin: 0;
  padding:0;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgb(214, 214, 214);
  height: 100vh;
}

